<form action="/authors" method="post">
  <label>First Name
    <input type="text" name="first_name">
  </label>

  <label>Last Name
    <input type="text" name="last_name">
  </label>

  <input type="submit" value="Create Author">
</form>
