<h1>Tweets</h1>

<%= link_to("new tweet", new_tweet_url) %>

<ul>
  <% @tweets.each do |tweet| %>
    <li>
      <%= tweet.body %>
      <small><%= tweet.created_at.strftime('%F') %></small>
    </li>
  <% end %>
</ul>
