body {
  background-color: #efefef;
  font-family: sans-serif;
  margin: 0;
}

body > header {
  background-color: #9f9f9f;
  color: #efefef;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
}

body > header ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

body > header li {
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

body > header li.active {
  padding: 0 1rem;
  background-color: #ffffff;
  border-radius: 0.25rem;
}

body > header a {
  color: #efefef;
  text-decoration: none;
}

body > header li.active a {
  color: #9f9f9f;
}

section, article > footer {
  padding: 1rem;
  color: hsla(120, 100%, 15%, 1);
}

section.welcome {
  color: hsla(120, 100%, 10%, 1);
  background-color: #98ff98;
  position: relative;
}

section.welcome .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: hsla(120, 100%, 30%, 1);
}

h2 {
  margin-top: 0;
}

h3 {
  margin: 0;
}

p {
  margin-bottom: 0;
}

section > article {
  margin-bottom: 2rem;
}

section > article > header {
  margin-top: 0;
  background-color: hsla(120, 100%, 90%, 1);
  padding: 1rem 2rem;
  border: 5px solid hsla(120, 100%, 80%, 1);
}

section > article > header address {
  margin-top: 1rem;
}

section > article > header img {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  float: left;
  margin-right: 1rem;
  border: 5px solid hsla(120, 100%, 80%, 1);
}

main > section > header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

main > section > header > form {
}

.outline {
  outline: 3px solid red;
}

main > section > header > form > * {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
}

main > section > header > form > label {
  color: hsla(120, 100%, 15%, .75);
}
